*{padding: 0;margin: 0;box-sizing: border-box;}
body{font-family: 'Open Sans', sans-serif;background: #f7f7f7;}
img{display: block;max-width: 100%;width: 100%;}
.product-wrapper{max-width: 1000px;width: 90%;margin: 0 auto;padding: 35px 0;}
.product-wrapper .products{grid-gap: 35px;}
.product-wrapper .products.grid-3{grid-template-columns: repeat(3, 1fr);}
.product-wrapper .products.grid-2{grid-template-columns: repeat(2, 1fr);}
.prd-box{box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);align-items: center;justify-content: center;padding: 35px;background: #fff;display: inline-block;width: 100%;}
.product-dlt{padding: 35px 0;text-align: center;}
.product-dlt p{margin-top: 5px;text-align: left;margin-left: 10px;}
.product-dlt p strong{font-size: 18px;}
.product-dlt ul{margin-top: 5px;}
.product-dlt li{text-align: left;margin-left: 50px;}
@media screen and (max-width: 767px) {
  .product-wrapper .products{display: grid;grid-gap: 15px;}
  .product-wrapper .products.grid-3{grid-template-columns: repeat(2, 1fr);}
  .prd-box{padding: 15px;}
  h2{font-size: 18px;}
  p{font-size: 14px;}
}