.container
  .info-box
    .bread-cum
      %ul
        %li
          %a{:href => "javascript:;"} Home
        %li
          %a{:href => "javascript:;"} Products
        -# %li
        -#   %a{:href => "javascript:;"}= @product.title
  = render :partial => 'products/form'