.container
  .info-box
    .bread-cum
      %ul
        %li
          %a{:href => "javascript:;"} Home
        %li
          %a{:href => "javascript:;"} Products
        %li
          %a New
  = render :partial => 'products/form'